{% extends 'adminbase.html.twig' %}

{% block title %}Nouvelle page{% endblock %}

{% block body %}
    <h1>Créer une nouvelle page</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">retour à la liste des pages</a>
{% endblock %}
