<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('adminapp') }}
		{% endblock %}

	</head>
	<body id='admin-body'>
			<div class="container">
				{% block body %}{% endblock %}
			</div>
			
		{% block javascripts %}
			{{ encore_entry_script_tags('adminapp') }}
		{% endblock %}

</html>
