<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top  position-fixed ">
	<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>

<!-- Footer -->
<footer class="footer text-center">
	<div class="container">
		<div class="row">

			<!-- Footer Location -->
			<div class="col-lg-5 mb-5 mb-lg-0">
			<a href="{{asset('build/img/planalb.png')}}">
				<img src="/build/img/planalb.png" class="w-100" alt="">
			</a>
			</div>

			<!-- Footer Social Icons -->
			<div class="col-lg-7 mb-5 mb-lg-0 d-flex flex-column justify-content-around">
					<div class="card py-2 mb-2">
						<div class="card-body text-center">
							<i class="fas fa-map-marked-alt text-primary mb-1"></i>
							<hr class="my-2">
							<div class="small text-primary">11 rue de l'apprentissage</div>
						</div>
					</div>
					<div class="card py-2 mb-2">
						<div class="card-body text-center">
							<i class="fas fa-envelope text-primary mb-1"></i>
							<hr class="my-2">
							<div class="small text-primary">
								secretariat.albeaubrun@gmail.com 
							</div>
						</div>
					</div>
					<div class="card py-1 mb-1">
						<div class="card-body text-center">
							<i class="fas fa-mobile-alt text-primary mb-1"></i>
							<hr class="my-1">
							<div class="small text-primary">04.77.21.41.89 <br/>
						de 8h45 à 12h15 et de 13h45 à 17h15, du lundi au vendredi </div>
						</div>
					</div>
			</div>

		</div>
	</div>
</footer>